@font-face {
    font-family: VAGRundschriftBQ;
    src: url("VAGRundschriftBQ.otf") format("opentype");
}

@font-face {
    font-family: VAGRundschriftBQ;
    font-weight: bold;
    src: url("VAGRundschriftBQ.otf") format("opentype");
}