/* Register your custom font family and tell the browser where to find it. */
@font-face {
    font-family: 'Vagrund';
    src: url('/fonts/VAGRundschriftBQ.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

html {}

h1 {
    font-family: 'Vagrund', sans-serif;
    text-align: center;
}

h2 {
    font-family: 'Vagrund', sans-serif;
}

a {
    font-family: 'Vagrund', sans-serif;
}

a:link {
    text-decoration: none;
}

a:visited {
    color: black;
}

a:hover {
    text-decoration: underline;
}

a:active {
    color: gray;
}


.nav-links {
    text-align: center;
}

.footer-info {
    text-align: center;
}