/* Register your custom font family and tell the browser where to find it. */
@font-face {
    font-family: 'Vagrund';
    src: url('/fonts/VAGRundschriftBQ.otf') format('opentype');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

html {
    background-color: #FFFFFF;
}

h1 {
    font-family: 'Vagrund', sans-serif;
    text-align: center;
    font-weight: normal;
}

h2 {
    font-family: 'Vagrund', sans-serif;
}

a {
    font-family: 'Vagrund', sans-serif;
    color: black;
}

a:link {
    text-decoration: none;
    color: black;
}

a:visited {
    color: black;
}

a:hover {
    /*text-decoration: underline;*/
    color: #999;
    color: #C200FB;
    color: #EC0868;
    color: #FC2F00;
    color: #EC7D10;
    color: #FFBC0A;
}

a:active {
    color: #999;
}

#inline-link {
    font-family: serif;
    text-decoration: underline; 
    color: black;
}

#inline-link:hover {
    text-decoration: none;
    color: #999;
    color: #C200FB;
    color: #EC0868;
    color: #FC2F00;
    color: #EC7D10;
    color: #FFBC0A;
}

em {
    font-weight: bold;
    font-style: normal;
}

p {
    line-height: 20pt;
}

.nav-links {
    text-align: center;
}

.footer-info {
    text-align: center;
}