---
import Layout from "../layouts/Layout.astro";
import ProductThumbnail from "../components/ProductThumbnail.astro";
const title = "Browse";
---

<Layout title="Browse">
    <div class="product-grid">
        <ProductThumbnail
            storeURL="/product-pages/tensegrity"
            coverImage="/TensegrityCover.png"
            coverAlt="Cover for Tensegrity, an overhead projector projecting a multicolored holograph of a cube on a red-orange background"
            title="Tensegrity"
            author="Daniel Sinderson"
            price="$10"
        />

        <ProductThumbnail
            storeURL="/product-pages/wax"
            coverImage="/WaxCover.png"
            coverAlt="Cover for Wax, an abstract image of rectangles of different sizes and textures on a white background"
            title="Wax"
            author="Liam Marshall"
            price="$39"
        />

        <ProductThumbnail
            storeURL="/product-pages/breathingoptional"
            coverImage="/BreathingOptionalCover.png"
            coverAlt="Cover for Breathing Optional, cardiogram signal on a black background"
            title="Breathing Optional"
            author="Liam Marshall"
            price="$39"
        />
    </div>
</Layout>

<style>
    .product-grid {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: left;
    }
</style>
