---
import Layout from "../layouts/Layout.astro";
---

<Layout title="What Is Moon Base Books?">
    <p>
        Moon Base Books is an independent publisher based in Ashland, Oregon.
        We're looking for work with heart, craft, and ambition. If it pulses
        with life, we want to publish it.
    </p>

    <h1>Who Is Moon Base Books?</h1>
    <hr />
    <p>
        <em>Daniel Sinderson</em> is a poet, researcher, and game designer living
        and working in Ashland, Oregon. He has degrees in Anthropology, Electronics,
        and Mathematics, and he can stop any time he wants to. He's the man behind
        the curtain at Moon Base Books, so if something here breaks you know exactly
        who to blame.
    </p>
    <p>
        <em>Liam Marshall</em> is a poet, artist, and songwriter living and working
        in Portland, Oregon. He is the author of 'Lethal & Other Poems,' 'Breathing
        Optional,' and 'Wax.' He's the engine behind Moon Base Books, so you know
        exactly who to thank for its existence. When the bronzing and the statues-with-horses
        start, he's the first in line.
    </p>
</Layout>

<style>
    hr {
        width: 100%;
    }

    @media (max-width: 479px) {
        hr {
            width: 100%;
        }
    }
</style>
