---
import Layout from "../layouts/Layout.astro";
---

<Layout title="About Us">
    <p>
        Moon Base Books is an independent publisher started by Daniel Sinderson
        and Liam Marshall in late 2023. We are based in Ashland, Oregon and we
        are looking for work with heart, craft, and ambition. If it pulses with
        life, we want to publish it.
    </p>

    <p>
        <em>Daniel Sinderson</em> is a poet, researcher, and game designer living
        and working in Ashland, Oregon. He has degrees in Anthropology, Electronics,
        and Mathematics, and he can stop any time he wants to. He's the man behind
        the curtain at Moon Base Books, so if something here breaks you know exactly
        who to blame.
    </p>

    <h1>Submissions</h1>
    <hr />
    <p>
        Moon Base Books accepts submissions during the first two weeks of every
        month for our online journal Wavelet and during the month of January for
        chapbook- or book-length works [submissions upcoming in 2025!].
    </p>
    <p>
        To submit send us an email. Put "Wavelet" or "Book" in the title and add
        your work as an attachment. And please feel free to tell us about your
        submission and about who you are. Having more information about the work
        and its context is more important to us than vain attempts at
        objectivity.
    </p>
    <p>
        Coming in 2025 we will also have a discord server where we hope to host
        writing groups, book clubs, and even seminars on technical topics
        specifically geared towards a lay audience.
    </p>

    <h2>Wavelet</h2>
    <hr />
    <p>Open submissions coming in 2025!</p>
    <h2>Books</h2>
    <hr />
    <p>Open submissions coming in 2025!</p>
</Layout>

<style>
    hr {
        width: 100%;
    }

    @media (max-width: 479px) {
        hr {
            width: 100%;
        }
    }
</style>
