---
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import ProductThumbnail from "../components/ProductThumbnail.astro";
import "../styles/global.css";
interface Props {
    title: string;
}

const title = Astro.props;
---

<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="description" content="At Moon Base Books we publish books with heart, craft, and ambition. Whether poetry, essays, mathematics, or games, if it pulses with life we want to publish it." />
        <meta name="keywords" content="Poetry, Publishing, Literature, Essays" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link rel="icon" type="image/svg+xml" href="/favicon.ico" />
        <link rel="sitemap" href="/sitemap-index.xml" />
        <meta name="generator" content={Astro.generator} />
        <title>Moon Base Books</title>
    </head>
    <body>
        <Header />
        <div class="page-content">
            <img
                src="logo_horizontal.webp"
                alt="The Moon Base logo; a small ray gun shooting a laser over the company name"
                height="150"
                width="300"
            />
        </div>
        
        <hr />

        <div class="page-content" id="about-the-press">
            <p>
                Moon Base Books is an independent publisher based in Ashland, OR. We began life in late 2023 and have published three full-length collections of poetry with two more on the way.
            </p>
            <p>
                Our mission is to publish work with heart, craft, and ambition. Go big. Try hard. And when you can hear the asymptote at perfection beckon, give up and let your work become something real.
            </p>
            <p>
                We have big plans for the coming years, so <a id=inline-link href="/contact#contact-form"> stay tuned!</a>
            </p>
        </div>

        <hr />

        <div class="page-content">
            <script>
                import "../scripts/generateSampleText.js";
            </script>
            <a href="/" class="sample-card" id="text-sample-card">
                <p class="sample-text" id="sampleText"></p>
                <p class="sample-source" id="sampleSource"></p>
                <p class="sample-author" id="sampleAuthor"></p>
            </a>
        </div>

        <hr>
        

        <div class="page-content">
            <h1>Latest Releases</h1>
        <div class="product-grid">
            <ProductThumbnail
                storeURL="/product-pages/tensegrity"
                coverImage="/TensegrityCover.webp"
                coverAlt="Cover for Tensegrity, an overhead projector projecting a multicolored holograph of a cube on a red-orange background"
                title="Tensegrity"
                author="Daniel Sinderson"
                price="$10"
            />
    
            <ProductThumbnail
                storeURL="/product-pages/wax"
                coverImage="/WaxCover.webp"
                coverAlt="Cover for Wax, an abstract image of rectangles of different sizes and textures on a white background"
                title="Wax"
                author="Liam Marshall"
                price="$39"
            />
    
            <ProductThumbnail
                storeURL="/product-pages/breathingoptional"
                coverImage="/BreathingOptionalCover.webp"
                coverAlt="Cover for Breathing Optional, cardiogram signal on a black background"
                title="Breathing Optional"
                author="Liam Marshall"
                price="$39"
            />
        </div>
    </div>
        <Footer />
    </body>
</html>

<style>
    .page-content {
        width: clamp(400px, 50%, 800px);
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        margin-left: auto;
        margin-right: auto;
    }

    .title-page-links {
        font-size: large;
    }

    .sample-card {
        outline: 2px solid;
        width: 390px;
        margin-top: 10px;
        padding: 10px;
        margin-bottom: 20px;
        box-shadow: 10px 10px black;
    }

    .sample-card:hover {
        cursor: pointer;
    }

    .sample-card:active {
        transform: translateY(5px);
        box-shadow: 0px 0px black;
    }

    .sample-text {
        font-size: 12pt;
        line-height: 16pt;
        margin-top: 2px;
    }

    .sample-source {
        font-style: italic;
        font-weight: bold;
        line-height: 14pt;
        margin: 2px;
    }

    .sample-author {
        line-height: 14pt;
        margin: 2px;
    }

    hr {
        width: clamp(400px, 50%, 800px);
    }

    .product-grid {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: left;
        
    }
</style>
