---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Moon Base Books">
    <a href="/browse"><h2>Browse</h2></a>
    <a href="/submit"><h2>Submit</h2></a>
    <a href="/contact"><h2>Contact</h2></a>
    <a href="/resources"><h2>Resources</h2></a>
</Layout>
