---
import Layout from "../layouts/Layout.astro";
import PoeticAnalysisTool from "../components/PoeticAnalysisTool.astro";
---

<Layout title="Welcome to the Poetry Lab">
  <p>UNDER CONSTRUCTION</p>
  <PoeticAnalysisTool/>
</Layout>
