<div class="nav-links">
    <a href="/">MOON BASE</a>
    <a href="/browse">Browse</a>
    <a href="/submit">Submit</a>
    <a href="/contact">Contact</a>
    <a href="/resources">Resources</a>
</div>
<hr />
<div>
    <p>Copyright © 2023 Moon Base Books, LLC</p>
    <p>Ashland, Oregon</p>
</div>
