---

---

<header class="nav-links">
    <a href="/"
        ><img
            src="/logo_horizontal_cropped.webp"
            alt="The Moon Base logo; a small ray gun shooting a laser over the company name"
            height="50"
            width="128"
        /></a
    >
    &nbsp;
    <a href="/browse">Browse</a>
    &nbsp;
    <a href="/connect">Connect</a>
    &nbsp;
    <a href="/read">Read</a>
    &nbsp;
    <a href="/write">Read</a>
</header>

<style>
    header {
        position: sticky;
        top: 0;
        left: 0;
        width: clamp(400px, 100%, 100%);
        z-index: 99;
        background-color: white;

        padding-bottom: 3px;
        padding-top: 3px;
        margin-bottom: 10px;
        border-bottom: 2px solid black;
    }
</style>
