---

---

<div class="nav-links">
    <a href="/"
        ><img
            src="/logo_horizontal_cropped.png"
            alt="The Moon Base logo; a small ray gun shooting a laser over the company name"
            height="50"
            width="128"
        /></a
    >
    &nbsp;
    <a href="/browse">Browse</a>
    &nbsp;
    <a href="/contact">Connect</a>
    &nbsp;
    <a href="/resources">Resources</a>
    &nbsp;
    <a class="shopping-cart" href="/"><img src="/shopping-cart.png" /></a>
</div>
<hr style="width: 100%;" />

<style>
    .shopping-cart {
    }
    .shopping-cart:hover,
    .shopping-cart:focus {
        content: url("/shopping-cart-red.png");
    }
    .shopping-cart:active {
        content: url("/shopping-cart-gray.png");
    }
</style>
