---
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import "../styles/global.css";
interface Props {
	title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="At Moon Base Books we publish books with heart, craft, and ambition. Whether poetry, essays, mathematics, or games, if it pulses with life we want to publish it." />
        <meta name="keywords" content="Poetry, Publishing, Literature, Essays" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<link rel="icon" type="image/svg+xml" href="/favicon.ico" />
		<link rel="sitemap" href="/sitemap-index.xml" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
	</head>
	<body>
		<Header />
		<h1>{title}</h1>
		<hr />
		<div class="page-content">
			<slot />
		</div>
		<Footer />
	</body>
</html>

<style>
	.page-content {
		width: clamp(390px, 50%, 800px);
		display: flex;
		justify-content: center;
		align-items: center;
		flex-direction: column;
		margin-left: auto;
		margin-right: auto;
	}

	hr {
		width: clamp(400px, 50%, 800px);
	}
</style>
